* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.header {
  background-color: rgb(249, 198, 197);
  box-shadow: 0 0 5px 0 rgba(14, 13, 13, 0.337254902);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.header .logo {
  float: left;
  font-size: 25px;
  font-family: "Poppins", system-ui;
  font-weight: 600;
  padding: 15px 24px;
  color: #292929;
  text-decoration: none;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.header ul a {
  display: block;
  padding: 20px;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}
.header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}
.header .menu-icon .nav-icon {
  background-color: grey;
  display: block;
  width: 18px;
  height: 2px;
  position: relative;
  transition: backgroud-color 0.2s ease-out;
}

ul.menu li a {
  color: #292929;
  text-decoration: none;
  font-weight: 500px;
  font-size: 18px;
}
ul.menu li a:hover {
  background-color: #ffdddd;
  color: #FE4950;
  text-decoration: none;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after {
  background-color: grey;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-out;
  position: absolute;
}

.header .menu-icon .nav-icon::before {
  top: 5px;
}

.header .menu-icon .nav-icon::after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: 0;
  }
  .header .menu-icon {
    display: none;
  }
}
@media (min-width: 49em) {
  .header .menu {
    max-height: 240px;
  }
}
.content {
  padding: 10% 5% 4%;
}

/*------------------------- HERO SECTION - LEFT ---------------------------*/
.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section h1 {
  font-size: 45px;
  font-weight: 600;
}
.hero-section h3 {
  color: rgb(206, 7, 65);
  font-weight: 700;
}
.hero-section .p-hp {
  font-size: 18px;
  padding: 12px 0;
}

.button-hero {
  background-color: rgb(206, 7, 65);
  padding: 12px 24px;
  border-top: 20px;
  text-decoration: none;
  color: #fff;
  border-radius: 32px;
}

.button-hero:hover {
  background-color: #FE4950;
  transition: 0.2s;
}

@media (max-width: 800px) {
  .hero-section {
    justify-content: center;
    padding-top: 8%;
  }
  .hero-section h1 {
    font-size: 37px;
  }
  .hero-section p {
    font-size: 16px;
  }
  .hero-section h3 {
    font-size: 24px;
  }
}
@media (max-width: 650px) {
  .hero-section {
    flex-direction: column-reverse;
    padding-top: 15%;
  }
  .hero-section h1 {
    text-align: center;
  }
  .hero-section h3 {
    text-align: center;
  }
  .hero-section p {
    text-align: center;
  }
  .button-hero {
    display: block;
    justify-content: center;
    align-items: center;
    width: 200px;
    margin: auto;
    text-align: center;
  }
}
/*------------------------------------ HERO SECTION: RIGHT --------------------------------------------*/
.hero-section .hero-right img {
  width: 500px;
  justify-content: right;
  padding-right: 10px;
}

@media (max-width: 966px) {
  .hero-section .hero-right img {
    width: 370px;
    padding-bottom: 4%;
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .hero-section .hero-right img {
    width: 220px;
    justify-content: center;
  }
}
/*------------------------------------- SECTION: CHI SONO -----------------------------------------------*/
.about-me-section {
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  line-height: 2;
  max-width: 1000px;
  padding: 12% 0 2%;
}
.about-me-section h2 {
  font-weight: 600;
  font-size: 33px;
  padding: 1rem 0;
}
.about-me-section p {
  margin-bottom: 0;
}

@media (max-width: 650px) {
  .about-me-section {
    padding-top: 30%;
  }
  .about-me-section h2 {
    font-size: 29px;
  }
  .about-me-section p {
    font-size: 16px;
  }
}
.button-cv {
  display: inline-block;
  padding: 12px 32px;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: rgb(206, 7, 65);
  font-weight: 700;
  font-size: 1.2rem;
}

.button-cv::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(206, 7, 65);
  display: block;
  margin: auto;
  transition: 0.3s;
}

.button-cv:hover::after {
  width: 100%;
}

/* --------------------------------------------- SECTION: LE MIE COMPETENZE ----------------------------------------- */
.le-mie-competenze {
  text-align: center;
  margin: auto;
  margin-bottom: 100px;
  line-height: 2;
  padding-bottom: 5%;
}
.le-mie-competenze h2 {
  font-weight: 600;
  font-size: 37px;
  padding: 1rem 0;
}
.le-mie-competenze p {
  padding-bottom: 16px;
}
.le-mie-competenze .card img {
  width: 30px;
  padding: 2rem 0 1rem;
  margin: auto;
}

@media (max-width: 650px) {
  .le-mie-competenze h2 {
    font-size: 29px;
  }
  .le-mie-competenze p {
    font-size: 16px;
  }
  .le-mie-competenze .col {
    padding: 10px;
  }
}
@media (max-width: 960px) {
  .le-mie-competenze .col {
    padding: 10px;
  }
}
.portfolio {
  text-align: center;
  padding-bottom: 8%;
}
.portfolio h2 {
  font-size: 37px;
  font-weight: 600;
  padding: 1rem 0;
}
.portfolio p {
  padding-bottom: 16px;
}
@media screen and (min-width: 680px) {
  .portfolio .cards-wrapper {
    display: flex;
  }
  .portfolio .card {
    margin: 0 0.5em;
    width: 33.3333333333%;
    border: none;
    border-radius: 0;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  }
}
.portfolio .carousel-inner {
  padding: 1em;
}
.portfolio .carousel-control-prev {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio .carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio .btn-primary {
  border: none;
  background-color: transparent !important;
  color: rgb(206, 7, 65) !important;
  font-weight: 700 !important;
  font-size: 1.2rem !important;
}
.portfolio .btn-primary::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(206, 7, 65);
  display: block;
  margin: auto;
  transition: 0.3s;
}
.portfolio .btn-primary:hover::after {
  width: 100%;
}
@media screen and (max-width: 679px) {
  .portfolio .card:not(:first-child) {
    display: none;
  }
}

/*------------ LEFT SECTION OF CV ---------------*/
.background-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgba(249, 198, 197, 0.6588235294); /*fdc8c844*/
}

.box-cv {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 50px;
}
.box-cv .left-side {
  position: relative;
  background: rgb(206, 7, 65);
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #e9dfdf;
}

.Lingue {
  width: -moz-max-content;
  width: max-content;
}

.contactInfo {
  padding-top: 40px;
  color: white;
  text-align: center;
}
.contactInfo ul {
  width: -moz-max-content;
  width: max-content;
  padding-left: 0;
  margin: auto;
}
.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
}
.contactInfo ul li a {
  color: white;
  display: inline-block;
  text-decoration: none;
}
.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #ffe8e8; /*fdc8c844*/
}
.contactInfo ul li span {
  color: white;
  font-weight: 400;
}
.contactInfo ul li p {
  color: white;
  text-align: center;
}

.title {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-align: center;
}

.profileText .imgBx {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.profileText .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profileText h2 {
  color: white;
  font-size: 1.5em;
  margin-top: 20px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}
.profileText h2 span {
  font-size: 0.8em;
  font-weight: 400;
}

.box-cv .right-side {
  position: relative;
  background: #fff;
  padding: 40px;
}

@media (max-width: 1000px) {
  .box-cv {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
  }
  p {
    font-size: 12px;
  }
}
/*----------------------------------------RIGHT SECTION OF CV-----------------------------------------------------*/
.right-side h2 {
  color: #CE2041;
  font-weight: 700;
  padding-bottom: 3%;
  padding-top: 2%;
}

.right-side ul li {
  list-style: none;
  color: #292929;
  padding-bottom: 4%;
}

.right-side h4 {
  font-weight: 500;
  font-size: 20px;
}

.right-side h5 {
  font-weight: 300;
  color: #292929;
}

.right-side .HardSkills ul li {
  list-style: disc;
  font-size: 18px;
  height: 600;
  padding-bottom: 1%;
  width: 90%;
}

.right-side .EsperienzaLavorativa ul li {
  list-style: disc;
  font-size: 18px;
  height: 600;
  padding-bottom: 1%;
  width: 90%;
}

p {
  font-size: 18px;
}

.right-side .autorizzazione p {
  font-weight: 200;
  color: #4d4c4c;
  padding-top: 4%;
}

.content-contattami {
  padding: 10%;
  color: #292929;
  width: 100%;
  box-sizing: border-box;
}

#modulo h2 {
  padding: 8px;
  font-size: 37px;
}
#modulo p {
  padding-top: 4px;
  padding-left: 8px;
  padding-bottom: 32px;
  font-size: 18px;
}
#modulo ul {
  list-style: none;
  width: 100%;
  padding-left: 8px;
}
#modulo ul li {
  padding: 10px 0;
  width: 50%;
  float: left;
  box-sizing: border-box;
}
#modulo ul li.tre, #modulo #modulo ul li.quattro {
  float: none;
  clear: left;
  width: 100%;
}
#modulo ul li.uno {
  margin-right: 1%;
}
#modulo ul li.quattro {
  padding: 20px;
  text-align: center;
  width: 100%;
}
#modulo ul li label {
  display: block;
  padding-bottom: 4px;
  width: 50%;
}
#modulo ul li input {
  border: 2px solid rgba(41, 41, 41, 0.5490196078);
  border-radius: 8px;
  padding: 1%;
  width: 300px;
}
#modulo ul li input.button {
  width: 100%;
}
#modulo ul li.testo {
  padding: 12px;
  width: 100%;
  box-sizing: border-box;
}
#modulo ul li textarea {
  padding: 12px;
  width: 100%;
  height: 100px;
  border: 2px solid rgba(41, 41, 41, 0.5490196078);
  border-radius: 8px;
  box-sizing: border-box;
}
#modulo ul li .button {
  color: white;
  background-color: rgb(206, 7, 65);
  border-radius: 32px;
  padding: 12px 24px;
  border: transparent;
  font-size: 16px;
  font-weight: 500;
}
#modulo ul li .button:hover {
  background-color: #FE4950;
  transition: 0.3s;
  cursor: pointer;
}
#modulo ul li .button:active {
  background-color: #8b0e25;
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 650px) {
  #modulo {
    padding-top: 40px;
  }
  h2 {
    font-size: 37px;
  }
  p {
    font-size: 16px;
  }
  ul li .button {
    text-align: center;
  }
}
/*----------------------------------      FOOTER       -------------------------------------*/
footer {
  text-align: center;
  background-color: rgb(249, 198, 197);
}
footer .boxFooter {
  width: 100%;
  padding: 70px 30px 20px;
}
footer .footer-text {
  padding: 1%;
  text-align: center;
}
footer .social-icons {
  display: flex;
  justify-content: center;
}
footer .social-icons a {
  padding: 0 10px;
  text-decoration: none;
  border-radius: 10%;
}
footer .social-icons a i {
  font-size: 1.5em;
  color: #292929;
}/*# sourceMappingURL=styles.css.map */